.support-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
  }

  .support-content {
    max-width: 50vw;
    margin: 0px 20px;
    padding: 40px; /* Increased padding */
    border: 2px solid #ccc; /* Increased border size */
    border-radius: 15px; /* Increased border radius */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Increased box shadow */
    background-color: #fff;
    height: 85vh;
  }

  .content-image {
    width: 40vw;
    height: 40vh;
    background: url('../../public/images/support-img.jpg') center center/cover no-repeat;
    border-radius: 7px;
  }

  .content-paragraph {
    width: 40vw;
    margin: 50px 0px 0px 0px;
  }
  
  .support-form {
    margin: 0px 20px;
    max-width: 600px; /* Increased max width */
    padding: 40px; /* Increased padding */
    border: 2px solid #ccc; /* Increased border size */
    border-radius: 15px; /* Increased border radius */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Increased box shadow */
    background-color: #fff;
    height: 85vh;
  }
  
  .form-header {
    margin-bottom: 10vh; /* Increased margin */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 15px; /* Increased margin */
    font-size: 20px; /* Increased font size */
  }
  
  input {
    padding: 20px; /* Increased padding */
    margin-top: 10px; /* Increased margin */
    border: 2px solid #ccc;
    border-radius: 15px; /* Increased border radius */
    font-size: 18px; /* Increased font size */
  }
  
  .supportPageButton {
    font-size: 25px;
    padding: 20px 25px; /* Increased padding */
    background-color: #6f48eb;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0px;
  }
  
  .supportPageButton:hover {
    background-color: #5031b4;
  }
  